.aboutusgrid{
  margin-bottom: 3vw;
  /*border: 2px solid #A9A9A9;*/
}

.aboutusrow{
  background-color: #DBDADA;
  font-weight: lighter;
  font-family: Hiragino Mincho ProN;
}

.aboutuscol1{
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.aboutuscol2{
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: calc(0.5vw + 7px);
}

.vcenter{
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.losAngeles{
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width:766px) {
  .aboutuscol1{
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
  }

  .aboutuscol2{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 0px;
    font-size: calc(0.5vw + 10px);
  }
}

.aboutustitle{
  text-align: center;
  font-size: 2.3vw;
  font-weight: lighter;
  margin: 0 auto;
  width: 60%;
  border-bottom: 1px solid black;
  margin-bottom: 12px;
}
