.contactgrid{
  font-family: Hiragino Mincho ProN;
  margin-bottom: 3vw;
}

.contactrow{
  background-color: #DBDADA;
}

.contact-title{
  padding: 5px;
  margin-top: 8vw;
  margin-bottom: 3vw;
  text-align: center;
  font-size: 1.3vw;
}

.formcontainer{
  width:85%;
  margin: 0 auto;
  margin-bottom: 10vw;
}

.finput{
  margin-bottom:2.5vw;
}

.circle1, .circle2{
  background-color: #51575C;
  border-radius: 50%;
  width: 9vw;
  height: 9vw;
  margin: 0 auto;
  margin-top: 8vw;
  text-align: center;
  position: relative
}

.glyphenvelope, .glyphphone{
  color: white;
  font-size: 2.5vw;
}

.circle1-overlay, .circle2-overlay{
position: absolute;
top: 35%;
left: 35%;
}

.circle-email, .circle-phone{
  font-size: 1.2vw;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width:766px) {
  .circle1{
    text-align: center;
    margin: 0 auto;
    width: 15vw;
    height: 15vw;
  }

  .circle2{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 15vw;
    height: 15vw;
  }

  .circle-email, .circle-phone{
    font-size: 1.7vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
  }

  .circle-email{
    margin-top: 14px;
  }

  .circlecontainer{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 7vw;
    margin-top: 4vw;
  }

  .circle1-overlay, .circle2-overlay{
    top: 36%;
    left: 38%;
  }

  .glyphenvelope, .glyphphone{
    font-size: 3.5vw;
  }

  .formcontainer{
    margin-bottom: 4vw;
  }

  .circle1container, .circle2container{
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }

  .contact-title{
    font-size: 1.8vw;
  }

}
