.photoCol{
  padding:5px;
  cursor: pointer;
}

.singlePictureCol{
  padding: 10px;
  margin:10px;
}

.singlePictureRow{
  display: inline-block;
}

.singlePhoto{
  border: 7px solid white;
  border-radius: 10%;
}

.pictureRow{
  margin-left: 1px;
  margin-right: 1px;
  text-align: center;
  margin: 0 auto;
}

.pictureRow1{
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  border: 1px solid red;
}

.pictureRow5{
  margin-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
  border: 1px solid red;
}

@media screen and (min-width:768px){
  .galleryContainer{
    display: flex;
    align-items: center;
    margin-bottom: 3vw;
    width: 100%;
  }

  .singlePictureGrid{
    width: 60%;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #E2E0E0;
  }

  .galleryPictureGrid{
    width: 40%;
    display: inline-block;
  }

}

@media screen and (max-width:767px){
  .galleryContainer{
    align-items: center;
    margin-bottom: 3vw;
    width: 100%;
  }

  .singlePictureGrid{
    width: 100%;
    background-color: #E2E0E0;
    text-align: center;
  }

  /*.singlePhoto{
    border: 7px solid white;
    border-radius: 10%;
    text-align: center;
    margin: 0 auto;
  }*/

  .galleryPictureGrid{
    width: 100%;
  }

}

.menuRight, .menuLeft{
}
