.galleryContainer{
  border: 1px solid red;
  display: flex;
  align-items: center;
}

.singlePictureGrid{
  width: 60%;
  border: 1px solid blue;
  display: inline-block;
}

.galleryPictureGrid{
  width: 40%;
  border: 1px solid blue;
  display: inline-block;
}

.photoCol{
  padding:5px;
}

.singlePictureCol{
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.singlePictureRow{
  display: inline-block;
}
