.servicesGrid{
  width: 98%;
}

.servicesCol {
  font-family: Hiragino Mincho ProN;
}

.servicesColTitle {
  color: #51575C;
  font-size: 20px;
  margin-bottom: 20px;
}

.servicesColLine {
  border-top: 2px solid #EAE7E7;
}

.servicesColDescription {
  font-size: calc(0.5vw + 8px);
  margin-bottom: 25px;
  font-weight: lighter;
  line-height: 20px;
}

.servicesColBottomDescription {
  font-family: Georgia;
  font-size: 13px;
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 10px;
}

.servicesRow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.servicesCol {
  display: flex;
  flex-direction: column;
}

/*.carouselDiv{
  width: 100%;
  background-color: #E3E0E0;
  height: 427px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #C9C8C8;
  border-bottom: 1px solid #C9C8C8;
  margin-bottom: 20px;
  border: 10px solid red;
}*/

.carouselComponent {
  width: 96%;
  margin: 0 auto;
}

.pictureGrid{
  position: relative;
  margin-bottom: 20px;
  width:100%;
  background-color: white;
}

.leftArrow{
  position:absolute;
  top:50%;
  left:5%;
  z-index: 10;
  color: white;
  opacity: 0.5;
  font-size: 30px;
}

.rightArrow{
  position:absolute;
  top:50%;
  right:5%;
  z-index: 10;
  color: white;
  opacity: 0.5;
  font-size: 30px;
}

.leftArrow:hover, .rightArrow:hover {
  color: white;
  opacity: 1;
}

.pictureRowCenter{
  margin: 0 auto;
  width: 100%;
}

.ImageWidth{
  width: 100%;
}

.none{
  transform: none;
}

@keyframes leftmove {
  0%   {transform: translateX(0px); opacity:1;}
  90%  {transform: translateX(-2999px); opacity:1;}
  95%  {opacity:0;}
  100% {transform: translateX(0px); opacity:0;}
}

@keyframes rightmove {
  0%   {transform: translateX(0px); opacity:1;}
  90%  {transform: translateX(2999px); opacity:1;}
  95%  {opacity:0;}
  100% {transform: translateX(0px); opacity:0;}
}

.lefttransx{
  animation: leftmove 5s;
  animation-fill-mode: forwards;
}

.lefttransition{
  animation: leftmove 5s;
  animation-fill-mode: forwards;
}

.righttransx{
  animation: rightmove 5s;
  animation-fill-mode: forwards;
}

.righttransition{
  animation: rightmove 5s;
  animation-fill-mode: forwards;

}

.hide{
  visibility: hidden;
}

.servicesDescriptionContainer{
  width:98%;
  height: 220px;
  position: relative;
  margin: 0 auto;
}

.backgroundDescription{
  width:100%;
  height:220px;
  position: absolute;
  top:0;
}

.frontDescription{
  width:100%;
  height:220px;
  position:absolute;
  top:0;
  background-color: white;
}

@media screen and (min-width: 889px) and (max-width:3000px){
  .pictureGrid{
    margin-top: calc(0.2vw + 5px);
  }
}

@media screen and (min-width: 768px) and (max-width:888px){

  .pictureGrid{
    margin-top: calc(0.2vw + 20px);
  }
}

@media screen and (min-width: 501px) and (max-width: 767px){
  .servicesCol{
    width:100%;
  }

  .servicesColDescription {
    font-size: calc(0.5vw + 8px);
  }

  .servicesColBottomDescription {
    font-size: calc(0.5vw + 9px);
  }

  .servicesDescriptionContainer, .backgroundDescription, .frontDescription{
    height: 250px;
  }
}

@media screen and (min-width: 431px) and (max-width: 500px){
  .servicesCol{
    width:100%;
  }

  .servicesColDescription {
    font-size: calc(0.5vw + 8px);
  }

  .servicesColBottomDescription {
    font-size: calc(0.5vw + 9px);
  }

  .servicesDescriptionContainer, .backgroundDescription, .frontDescription{
    height: 270px;
  }
}


@media screen and (min-width:401px) and (max-width:430px){

  .servicesCol{
    width:100%;
  }


  .servicesColDescription {
    font-size: calc(0.5vw + 10px);
  }

  .servicesColBottomDescription {
    font-size: calc(0.5vw + 11px);
  }

  .servicesDescriptionContainer, .backgroundDescription, .frontDescription{
    height: 315px;
  }
}

@media screen and (min-width:358px) and (max-width:400px){

  .servicesCol{
    width:100%;
  }

  .servicesColDescription {
    font-size: calc(0.5vw + 10px);
  }

  .servicesColBottomDescription {
    font-size: calc(0.5vw + 11px);
  }

  .servicesDescriptionContainer, .backgroundDescription, .frontDescription{
    height: 345px;
  }
}

@media screen and (min-width:328px) and (max-width:357px){

  .servicesCol{
    width:100%;
  }

  .servicesColDescription {
    font-size: calc(0.5vw + 10px);
  }

  .servicesColBottomDescription {
    font-size: calc(0.5vw + 11px);
  }

  .servicesDescriptionContainer, .backgroundDescription, .frontDescription{
    height: 375px;
  }
}

@media screen and (min-width:308px) and (max-width:327px){

  .servicesCol{
    width:100%;
  }

  .servicesColDescription {
    font-size: calc(0.5vw + 10px);
  }

  .servicesColBottomDescription {
    font-size: calc(0.5vw + 11px);
  }

  .servicesDescriptionContainer, .backgroundDescription, .frontDescription{
    height: 400px;
  }
}

@media screen and (min-width:302px) and (max-width:307px){

  .servicesCol{
    width:100%;
  }

  .servicesColDescription {
    font-size: calc(0.5vw + 10px);
  }

  .servicesColBottomDescription {
    font-size: calc(0.5vw + 11px);
  }

  .servicesDescriptionContainer, .backgroundDescription, .frontDescription{
    height: 415px;
  }
}

@media screen and (min-width:292px) and (max-width:301px){

  .servicesCol{
    width:100%;
  }

  .servicesColDescription {
    font-size: calc(0.5vw + 10px);
  }

  .servicesColBottomDescription {
    font-size: calc(0.5vw + 11px);
  }

  .servicesDescriptionContainer, .backgroundDescription, .frontDescription{
    height: 420px;
  }
}

@media screen and (min-width:270px) and (max-width:291px){

  .servicesCol{
    width:100%;
  }

  .servicesColDescription {
    font-size: calc(0.5vw + 10px);
  }

  .servicesColBottomDescription {
    font-size: calc(0.5vw + 11px);
  }

  .servicesDescriptionContainer, .backgroundDescription, .frontDescription{
    height: 453px;
  }
}

@media screen and (min-width:0px) and (max-width:269px){

  .servicesCol{
    width:100%;
  }

  .servicesColDescription {
    font-size: calc(0.5vw + 10px);
  }

  .servicesColBottomDescription {
    font-size: calc(0.5vw + 11px);
  }

  .servicesDescriptionContainer, .backgroundDescription, .frontDescription{
    height: 505px;
  }
}

.test{
  margin: 0 auto;
  width:100%;
}
