/*******Navigation Bar Styling**********/

.navbarContainer{
  width:98%;
  margin: 0 auto;
}

@media screen and (max-width:767px) {
  .navbarContainer{
    text-align: center;
  }
}

.navigationbar{
  border: 5px solid #F0EDED;
  border-radius: 0px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 20px;
}

@media screen and (min-width: 767px) and (max-width:881px) {
  .navigationbar{
    margin-bottom:40px
  }
}

.logo{
  font-size: 1.3vw;
}

@media screen and (max-width:767px) {
  .logo{
    font-size: 1.5vw;
  }
}

.nbitem{
  font-size: 1vw;
  /*border: 1px solid blue;*/
}

@media screen and (max-width:767px) {
  .nbitem{
    border-bottom: 1px solid #F0EDED;
    font-size: 1.5vw;
  }
  .nbitemtop{
    border-top: 1px solid #F0EDED;
  }
}

.licnbitem{
  border: 2px solid #51575C;
  border-radius: 3px;
}

@media screen and (max-width:767px) {
  .licnbitem{
    width:15%;
    text-align: center;
  }
}

.lcinner{
  /*border: 1px solid green;*/
  margin-left: 4px;
  margin-right:4px;
}
